<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] %d [%c] (line %L) - %m%n" />
		</layout>
	</appender>
	
	<!-- system default log file -->
	<appender name="default" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${jetty.home}/logs/iHelin.log" />
		<param name="Append" value="true" />  
        <param name="MaxFileSize" value="20MB" />  
        <param name="MaxBackupIndex" value="50" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p [%t] %d{yy-MM-dd HH:mm:ss} %c{1} (line %L) - %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="org.springframework">
		<level value="error" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="default" />
	</root>

</log4j:configuration>
